
#barra-nav-2{
    background-color: black !important;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    animation: slideDos 0.8s ease-in-out;
}

#barra-nav-2 .navlink, .navbar-brand, .navbar-toggler:not(.active):not(.collapsed) {
    color: white !important;
}

.navbar-toggler span{
    background-color: white !important;
    border-radius: 10%;
  }

.container{
    padding: 1%;
    margin: 0%;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    
}

p, h1, li>a, a.enlaces{
    transition: all 0.2s ease-in-out;
}

p:hover, h1:hover {
    transform: scale(1.02);
}

li>a:hover, div.col>a:hover{
    transform: scale(1.1);
}

#perfil{
    padding: 5%;
    padding-left:  15%;
    padding-right: 15%;
    margin: 0%;
    background-color: white;
    animation: slideUno 0.8s ease-in-out;

}

@keyframes slideUno {
    0% {
        background-color:black;
    }

    100% {
        background-color: white;
    }
}

@keyframes slideDos {
    0% {
        background-color: white ;
    }

    100% {
        background-color:black;
    }
}

@media (max-width: 767px){
    #perfil{
        padding-top: 12%;
    }
}

#laboral{
    padding: 5%;
    padding-left:  5%;
    padding-right: 5%;
    margin: 0%;
    background-color: white;
    animation: slideUno 0.5s ease-in-out;
}

#academia{
    padding: 5%;
    padding-left:  5%;
    padding-right: 5%;
    margin: 0%;
    background-color: black;
    color: white;
    animation: slideDos 0.5s ease-in-out;

}

#foot{
    padding-bottom: 1%;
    padding-left:  5%;
    padding-right: 5%;
    margin: 0%;
    background-color: black;
    color: rgba(255, 255, 255, 0.596);
    animation: slideDos 0.5s ease-in-out;
}

#body{
    background-color: gray;
    padding-top: 3.8%;
    font-family: 'Play', sans-serif;
}


#parrafo{
    text-align: justify;
}

#navbarNavDropdown {
   
    overflow: hidden;
}

#navbarNavDropdown.collapsing {
    height: 0;
}

.nav-link:not(.active):not(.collapsed) {
    color: white;
}

#academia h1, #laboral h1{
    padding-left: 10%;
    padding-right: 10%;
}

.bg-er{
    background-color: black !important;
    color: white !important;
}

a.enlaces, a.nav-link{
    color: rgba(255, 255, 255, 0.747) !important; /* Cambia el color del texto del enlace */
    text-decoration: none; /* Elimina la subrayado del enlace */
}

a.enlaces:hover, #foot:hover, a.nav-link:hover{
    color: white !important;
}

a.nav-link:active{
    color: white !important;
}