#barra-nav {
    padding: 0%;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}

#barra-nav-2{
    background-color: black !important;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

#barra-nav-2 .navlink, .navbar-brand, .navbar-toggler:not(.active):not(.collapsed) {
    color: white !important;
}

.navbar-toggler span{
    background-color: white !important;
    border-radius: 10%;
  }

.container{
    padding: 1%;
    margin: 0%;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

#perfil{
    padding: 5%;
    padding-left:  15%;
    padding-right: 15%;
    margin: 0%;
    background-color: white;

}

@media (max-width: 767px){
    #perfil{
        padding-top: 12%;
    }
}

#laboral{
    padding: 5%;
    padding-left:  5%;
    padding-right: 5%;
    margin: 0%;
    background-color: white;
}

#academia{
    padding: 5%;
    padding-left:  5%;
    padding-right: 5%;
    margin: 0%;
    background-color: black;
    color: white;

}

#foot{
    
    padding-bottom: 1%;
    padding-left:  5%;
    padding-right: 5%;
    margin: 0%;
    background-color: black;
    color: white;
}

#body{
    background-color: gray;
    padding-top: 3.8%;
    font-family: 'Play', sans-serif;
    /*
    font-family: 'Anton', sans-serif;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Play', sans-serif;
    */
}


#parrafo{
    text-align: justify;
}

#navbarNavDropdown {
   
    overflow: hidden;
}

#navbarNavDropdown.collapsing {
    height: 0;
}

.nav-link:not(.active):not(.collapsed) {
    color: white;
}

#academia h1, #laboral h1{
    padding-left: 10%;
    padding-right: 10%;
}

.bg-er{
    background-color: black !important;
    color: white !important;
}

